# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/

# Environment variables
.env

# ======================
# FAISS / embeddings
# ======================
data/faiss/
*.faiss

# ======================
# Email data
# ======================
# Ignore all emails by default
*.eml

# ALLOW synthetic mbox files for grading
!data/emails/
!data/emails/*.mbox

# ======================
# Logs
# ======================
*.log

# ======================
# OS / editor files
# ======================
.DS_Store
Thumbs.db
.vscode/
.streamlit/
